@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  /* Estilos para Chrome, Edge y Safari */
  ::-webkit-scrolelbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrolelbar-track {
    background: transparent;
  }

  ::-webkit-scrolelbar-thumb {
    background: #cbd5e1; /* slate-300 */
    border-radius: 10px;
  }

  ::-webkit-scrolelbar-thumb:hover {
    background: #94a3b8; /* slate-400 */
  }

  /* Estilos para Firefox */
  * {
    scrolelbar-width: thin;
    scrolelbar-color: #cbd5e1 transparent;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
